
/* global style settings */

.nav-bar,
.home-page-section {
    font-family: 'Architects Daughter', cursive;
}

.projects-section {
    font-family: 'Source Sans Pro', sans-serif;
}

.about-section {
    font-family: 'Josefin Sans', sans-serif;
}

a,
ul {
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    padding:0;
    margin:0;
    color: inherit;
}


h4 {
    text-decoration: none;
    color: #0060B6;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-buffer {
    margin-top:20px;
}

/* header section */
.logo-image {
    float:left;
    height:100px;
}

.nav-container {
    font-size: 20px;
    bottom: 0;
}


.nav-selection:hover {
    color: #e68c80;
    text-decoration: none;
}


/* all section setting */



/* floating section */
.floating-selection {

  background-color: white;
  position: absolute;
  width: 100px;
  margin: 50px 0px 0px 50px;

}


/* Highlight Section */
.highlights {
    text-align: center;
}

.highlights-image {
    width:98%;
}

/* featured work section */

.project-image {
    width: 90%;
    text-align:center;
}

.project-title {
    color:dimgray;
    margin-bottom: 1px;
}

/* media query */
/* for mobile device */
@media screen and (min-width: 991px) {
    .nav-container {
        margin-top: 50px;
    }
}
/*
@media screen and (max-width: 600px) {
    .container {
        font-size:1.2em;
    }
    .col-12-mobile {
        width:100%
    }
}
*/
/* for tablet */
/*
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .container {
        font-size:1.1em;
    }
    .col-6-tablet {
        width:50%;
    }
}
*/
/* for desktop */
/*
@media screen and (min-width: 1201px) {
    .container {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
}
*/