
/* global style settings */
* {
    font-family: 'Architects Daughter', cursive;
}

a, ul {
    text-decoration: none;
    list-style-type: none;
    padding:0;
    margin:0;
}

/* header section */
.logo-image {
    float:left;
    height:133px;
    margin-left: 40px;
    margin-right: 10px;
}

.nav-container {
    text-align: center;
    margin: auto 0;
    font-size: 20px;
}

.nav-selection:hover {
    color: #e68c80;
}

/* floating section */
.floating-selection {

  background-color: white;
  position: absolute;
  width: 100px;
  margin: 50px 0px 0px 50px;

}
/* Grid System */
.row {
    display:flex;
    flex-wrap: wrap;
}
.col-3 {
    width:25%;
}

.col-4 {
    width:33.33%;
}

.col-6 {
    width:50%;
}

.col-12 {
    width:100%;
}

/* Highlight Section */
.highlights {
    text-align: center;
}

.highlights-image {
    width:98%;
}

/* featured work section */
.featured-work
.col-4 {
    text-align:center;
}

.project-image {
    width: 90%;
}

.project-title {
    color:dimgray;
    margin-bottom: 1px;
}

/* media query */
/* for mobile device */
@media screen and (max-width: 600px) {
    .container {
        font-size:1.2em;
    }
    .col-12-mobile {
        width:100%
    }
}

/* for tablet */
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .container {
        font-size:1.1em;
    }
    .col-6-tablet {
        width:50%;
    }
}

/* for desktop */
@media screen and (min-width: 1201px) {
    .container {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
}