
/* global style settings */

.nav-container,
.nav-bar,
.home-page-section {
    font-family: 'Architects Daughter', cursive;
}

.projects-section,
.about-section {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    overflow-y: scroll;
}

a,
ul {
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    padding:0;
    margin:0;
}

span {
    color: gray;
}


h4 {
    text-decoration: none;
    color: #0060B6;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gray-color{
    color: gray;
}

.nav-bar{
    margin: 20px 0px 20px 0px;
}

.top-buffer {
    margin-top:50px;
}

/* header section */
.logo-image {
    float:left;
    height:100px;
}

.nav-selection{
    color: black;
    margin: auto 20px;
}

.active {
    color: #e68c80;
}

.nav-selection:hover {
    color: #e68c80;
    text-decoration: none;
}


/* all section setting */







/* media query */
/* for mobile device */
@media screen and (min-width: 991px) {
    .nav-container {
        margin-top: 50px;
    }
}
/*
@media screen and (max-width: 600px) {
    .container {
        font-size:1.2em;
    }
    .col-12-mobile {
        width:100%
    }
}
*/
/* for tablet */
/*
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .container {
        font-size:1.1em;
    }
    .col-6-tablet {
        width:50%;
    }
}
*/
/* for desktop */
/*
@media screen and (min-width: 1201px) {
    .container {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
}
*/