
html, body, #map-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map-canvas {
    position: relative;
}
li:hover {
    background-color: #efaeac;
    cursor: pointer;
}
.favorite-places-container {
    padding: 5px;
    width: 350px;
    height: 200px;
    max-height: 30%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    background: #ffffff;
    opacity:.75;
    border-radius: 15px;
}
.search-container {
    width: 350px;
    padding:5px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    background: #ffffff;
    opacity:.85;
    border-radius: 15px;
}
.search-bar {
    width: 96%;
    border: 0;
    font-size: 20px;
    text-align: center;
}
#places-list {
    height: 60%;
    overflow:hidden;
    overflow-y:scroll;
}
#places-header {
    text-align: center;
}
